body{
    margin: 0;
    padding: 0;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
    padding: 25px 20px;
    font-size: 125%;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    font-family: 'Tapestry', cursive;
}

.navbar a:hover{
    font-weight: bold;
}

.homeheading{
    position:relative;
    text-align: center;
    color: white;
}

.headingsettings{
    position:absolute;
    text-align: center;
    margin: auto;
    left: 15%;
    margin-top: 15%;
    font-size: 170px;
    font-family: 'Water Brush', cursive;
}

.getstartedbutt{
    position:absolute;
    text-align: center;
    margin: auto;
    left: 82%;
    margin-top: 30%;
    font-size: 200%;
    text-transform: uppercase;
    font-family: 'Tapestry', cursive;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.getstartedbutt:hover{
    font-size: 203%;
    font-weight: bold;
}

  .img_item{
      width: 100%;
      margin-right: 20px;
  }
