{% extends "advisor/base.html" %}
{% block content %}
{% load static %}

    <style type="text/css">
        body {
            background-color: #995D81;
        }
    </style>

    <body>

        <h1 style="font-size: 300%; margin-top: 5%; margin-left: 35%; font-family: 'Tapestry', cursive;">Create profile or sign in!</h1>

    <button class="sign" onclick="openSignUp()" style="width:auto;">Sign Up</button>
    <button class="sign" onclick="openSignIn()" style="width:auto;">Login</button>

    <div id="id01" class="modal" style="display:none">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content">
            <div class="container">
                <h1 style="font-family: 'Tapestry', cursive;">Sign Up</h1>
                <p style="font-family: 'Tapestry', cursive;">Please fill in this form to create an account.</p>
                <br>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <br>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
                <br>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <br>

                <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <a href="{% url 'profile' %}">
                    <button type="submit"  class="signupbtn">Sign Up</button>
                 </a>
            </div>
            </div>
        </form>
    </div>

<div id="id02" class="modal" style="display:none">
  
    <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>

    <form class="modal-content">
    

    <div class="container">
        <h1 style="font-family: 'Tapestry', cursive;">Sign In</h1>

      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
        <br>
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
    </div>

    <div class="clearfix">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
        <a href="{% url 'profile' %}">
            <button type="submit" class="signupbtn">Sign In</button>
        </a>
    </div>
  </form>
</div>

<script>
    function openSignUp(){
    var mod = document.getElementById('id02');
    if (mod.style.display == 'block') {
        mod.style.display = 'none';
    }
    var modal = document.getElementById('id01');
    if (modal.style.display == 'none') {
        modal.style.display = 'block';
    }

}

function openSignIn(){
    var mod = document.getElementById('id01');
    if (mod.style.display == 'block') {
        mod.style.display = 'none';
    }
    var modal = document.getElementById('id02');
    if (modal.style.display == 'none') {
        modal.style.display = 'block';
    }

}
// {/* Get the modal */}
// var modal = document.getElementById('id01');

// {/* When the user clicks anywhere outside of the modal, close it */}
// window.onclick = function(event) {
//     if (event.target == modal) {
//         modal.style.display = "none";
//     }
// }

</script>
</body>

{% endblock content %}