{% extends "advisor/base.html" %}
{% block content %}
{% load static %}

    <style type="text/css">
        body {
            background-color: #FFE381;
        }
    </style>

<body>
    
<button class="btn btn-primary, goback" onclick="window.history.back()">Go back!</button>

<div style="position: realtive;text-align: center; font-family: 'Tapestry';">
<h1 class="headings" style=" font-size: 1.2cm;">The Team</h1>

    <p style="margin: 3%; font-size: .7cm; ">We are a team of motivated students that wants to help you to plan the best travel ever! 
        Now you know who made this awesome site! Want to contact us? Do not hesitate! Email us at <b>tues.instaadvisor@gmail.com</b>. 
        We usually reply within a day!
    </p>
</div>

<div style="position: absolute; margin-top: 3%; left: 15%">
    <img src="{% static 'advisor/Alex.png' %}" style="width: 20%;" class="img_item">
    <img src="{% static 'advisor/Eli.png' %}" style="width: 20%;" class="img_item">
    <img src="{% static 'advisor/Zlati.png' %}" style="width: 20%;" class="img_item">
    <img src="{% static 'advisor/Ivan.png' %}" style="width: 20%;" class="img_item">
</div>
</body>
  

{% endblock content %}
