{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Water+Brush&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tapestry&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel='stylesheet' type="text/css" href="{% static 'advisor/style.css' %}">

    <link rel="icon" href="media/camera.png">
    <title>InstAdvisor</title>
</head>
<body>

    <div class="navbar">
        <ul>

            
            <li><a href="{% url 'home' %}" style="font-weight: bold; color: black;" class="active">Home</a></li>
            <li><a href="{% url 'about us' %}" style="color: #FFE381;">About us</a></li>
            <li><a href="{% url 'posts' %}" style="color: #FFA69E;">Posts</a></li>
            <li><a href="{% url 'new post' %}" style="color: #7284A8;">New Post</a></li>
            <li><a href="{% url 'search' %}" style="color: #56E39F;">Search</a></li>
            <li><a href="{% url 'profile' %}" style= "color: #995D81;">Profile</a></li>
            
        </ul>
    </div>

    {% block content %}{% endblock %}
    <footer><button class="btn btn-primary, goback" onclick="window.history.back()">Go back!</button></footer>
</body>
</html>