{% extends "advisor/base.html" %}
{% block content %}
{% load static %}

<style type="text/css">
    body {
        background-color: #7284A8;
    }
</style>
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <label>Title</label>
    <input id="title" name="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    <label>Text</label>
    <textarea id="title" name="text" type="textarea" rows="3" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></textarea>

    <label>Image</label>
    </br>
    <small> Disclaimer: if the image is too big, there's a cahnce it won't be dysplayed</br></small>
    <input id = "id_image" type = "file" name = "image">
</div>
    <button class="btn btn-primary" type="submit">Create post</button>
</form>

{% endblock content %}