{% extends "advisor/base.html" %}
{% block content %}
{% load static %}

<style type="text/css">
    body {
        background-color: #7284A8;
    }
</style>

<body>
    <h1 class="headings">Create new post</h1>
    <div class="content-section" style= "padding-top: 10px; align-content: center;">
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <label class="headings" style="padding-left: 450px;">Title: </label>
        <input name="title" type="text" class="search">
        <br>
        <br>
        <label class="headings" style="padding-left: 450px;">Text: </label>
        <textarea id="title" name="text" type="textarea" rows="3" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></textarea>
        <br/>
        <div>
        <label class="headings" style="padding-left: 450px;">Image: </label>
        <input id = "id_image" type = "file" name = "image" class="field">
        
    </div>
    <br/>
        <small class="field" style="font-size:100%; font-family: 'Tapestry', cursive;"> Disclaimer: if the image is too big, there's a chance it won't be dysplayed!</br></small>
    
        <button class="btn btn-primary" type="submit">Create post</button>
    </form>
</div>
</body>
{% endblock content %}