{% extends "advisor/base.html" %}
{% block content %}
{% load static %}

<style type="text/css">
  body {
    background-color: #FFCEC7;
  }
  .postcard{
    margin-left: 33%;
    margin-top: 7%;
    height: 500px;
    width: 500px;
    font-family: 'Staatliches', cursive;
    background-color: #FFA69E;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 1%;
}

.postcard:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.postimg{
    margin-top: -4%;
    margin-left: 10%;
    height: 80%;
    width: 80%;
}

.upper-text-card{
    height: 10%;
    width: 90%;  
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.95);
    color:black;
    font-size:160%;
    padding-top: 1%;
}

.bottom-text-card{
    height: 20%;
    width: 90%;  
    margin-top: -10.6%;
    padding-left: 2%;
    background-color: rgba(255, 255, 255, 0.95);
    font-size:150%;
    color:black;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position:relative;
    z-index: -1;
   }


  .star-wrapper {
    margin-left: 7%;
    margin-top: 1%;
    transform: translate(-50%, -50%);
    position: absolute;
    direction: rtl;
    
  }
  .star-wrapper a {
    font-size: 7mm;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
  }

  .star-wrapper a:hover {
    color:#FFA69E;
    transform: scale(1.3);
  }

  .s1:hover ~ a {
    color: #FFA69E;
  }
  .s2:hover ~ a {
    color: #FFA69E;
  }
  .s3:hover ~ a {
    color: #FFA69E;
  }
  .s4:hover ~ a {
    color: #FFA69E;
  }
  .s5:hover ~ a {
    color: #FFA69E;
  }
  .wraper {
    position: absolute;
    bottom: 30px;
    right: 50px;
  }
</style>

{% for post in posts %}
<div class="postcard" style="box-sizing: border-box;">
  <div class="upper-text-card" style="color: black;">
    <div style="margin-left: 5%;">
     {{ post.title }}
    </div>
  </div>
  <div class="postimg">
    {% if post.image %}
    <img src = "{{ post.image.url }}" alt="{{post.title}}" height = "750px" width="1000px" style="z-index: 1000;"/>
    {% endif %} 
  </div>
  <div class="bottom-text-card">
    {{ post.text }}

    <div class="star-wrapper">
      <a href="#" class="fas fa-star s1"></a>
      <a href="#" class="fas fa-star s2"></a>
      <a href="#" class="fas fa-star s3"></a>
      <a href="#" class="fas fa-star s4"></a>
      <a href="#" class="fas fa-star s5"></a>
    </div>

  </div>
</div>


{% endfor %}
<button class="back-to-top" id="myBtn" onclick="topFunction()" style="outline: black;">Back To Top</button>

<script>
  mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 5 || document.documentElement.scrollTop > 5) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>

{% endblock content %}