{% extends "advisor/base.html" %}
{% block content %}
{% load static %}



    <style type="text/css">
        body {
            background-color: #56E39F;
        }

    </style>

<div class="container" style="width: 80%; margin-left: 10%;">

    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-8">

        <div class="search">
          <i class="fa fa-search"></i>
          <!--<input type="text" class="form-control" style="font-family: 'Tapestry', cursive; font-size: medium;" placeholder="Search for location...">
          <button class="btn btn-primary">Search</button>-->
          <form action="{% url 'searchbar' %}" method="get">
            <input type="text" name="search" />
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>

        <script>
          function myFunction(){

          }
        </script>
        
      </div>
      
    </div>
</div>

{% endblock content %}
