{% extends "advisor/base.html" %}
{% block content %}
{% load static %}

    <style type="text/css">
        body {
            background-color: #56E39F;
        }
    </style>

<body>

  <div class="container" style="width: 80%; margin-left: 10%;">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="search">
          <form action="{% url 'searchbar' %}" method="get"></form>          
          <input type="text" name="search" placeholder="Search for location..."/>
          <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
</div>
</body>

{% endblock content %}
