{% extends "advisor/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

    <style type="text/css">
        body {
            background-color: #995D81;
        }
    </style>

    <body>

        <h1 class="headings">Sign Up!</h1>

        <div class ="content-section" style="padding-top: 20px; padding-bottom: 50px; margin-bottom: 50px;">
            <form method="POST">
              {% csrf_token %}
              <fieldset style="font-family: 'Staatliches', cursive; margin: 50px; margin-top: 0px; margin-bottom: 0px;" class = "search">
                <legend style="font-size: 200%;">Join us Today!</legend>
                {{ form|crispy }}
              </fieldset>
              <div class="form-group" >
                <button class="btn btn-primary" type="submit">Sign Up</button>
              </div>
              </form>
              <div style="padding-left: 430px;">
                <small class="headings" style="font-size: 120%; ">
                  Already have an Account?<a href="{% url 'signin' %}">Sign In</a>
                </small>
              </div>
          </div>

</body>

{% endblock content %}