{% extends "advisor/base.html" %}
{% block content %}
{% load static %}

    <style type="text/css">
        body {
            background-color: #995D81;
        }
    </style>

    <body>

        <h1 class="headings">Create profile or sign in!</h1>


        <a href="{% url 'signin' %}">
            <button class="btn btn-primary" style="font-size: 200%;">Sign In</button>
        </a>

        <a href="{% url 'signup' %}">
            <button class="btn btn-primary" style="font-size: 200%;">Sign Up</button>
        </a>
</body>

{% endblock content %}