{% extends "advisor/base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

    <style type="text/css">
        body {
            background-color: #995D81;
        }
    </style>

    <body>

        <div class ="content-section" style="padding-top: 20px; padding-bottom: 50px; margin-bottom: 50px;">
            <form method="POST">
              {% csrf_token %}
              <fieldset style="font-family: 'Staatliches', cursive; margin: 50px; margin-top: 0px; margin-bottom: 0px;" class = "search">
                <legend style="font-size: 200%;">Log in</legend>
                {{ form|crispy }}
              </fieldset>
              <div>
                <button class="btn btn-primary" type="submit">Log in</button>
              </div>
              </form>
              <div class="border-top pt-3" style="padding-left: 430px;">
                <small class="headings" style="font-size: 120%; ">
                  Need an Account? <a class="ml-2" href="{% url 'signup' %}">Sign Up Now</a>
                </small>
              </div>
          </div>



    </body>

{% endblock content %}