body{
    margin: 0;
    padding: 0;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
    padding: 25px 20px;
    font-size: 125%;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    font-family: 'Tapestry', cursive;
}

.navbar a:hover{
    font-weight: bold;
}

.homeheading{
    position:relative;
    text-align: center;
    color: white;
}

.headingsettings{
    position:absolute;
    text-align: center;
    margin: auto;
    left: 15%;
    margin-top: 15%;
    font-size: 170px;
    font-family: 'Water Brush', cursive;
}

.getstartedbutt{
    position:absolute;
    text-align: center;
    margin: auto;
    left: 82%;
    margin-top: 30%;
    font-size: 200%;
    text-transform: uppercase;
    font-family: 'Tapestry', cursive;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.getstartedbutt:hover{
    font-size: 203%;
    font-weight: bold;
}

  .img_item{
      width: 100%;
      margin-right: 20px;
  }


  .height{
    height: 100vh;
   }


   .search{
   position: relative;
   box-shadow: 0 0 40px rgba(51, 51, 51, .1);
   margin-top: 7%;
   border: white;

   }


   .search input{
    height: 50px;
    width: 80%;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
    margin-left: 5%;

   }


   .search input:focus{
    box-shadow: none;
    border: 2px solid white;


   }

   .search .fa-search{
    position: absolute;
    top: 20px;
    left: 16px;

   }

   .search button{
    position: absolute;
    right: 5px;
    height: 56px;
    width: 110px;
    margin-right: 4%;
    background: none;
    border-color: white;
    color: white;
    font-family: 'Tapestry', cursive;
    font-size: 150%;
    cursor: pointer;
   }

   .search button:hover{
    font-size: 160%;

}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    font-family: 'Tapestry', cursive;
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background: none;
  align-items: center;
  font-family: 'Tapestry', cursive;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-top: 5%;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 150%;
}

button:hover {
  opacity:1;
}

label{
    font-size: 150%;
    font-family: 'Tapestry', cursive;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #d95148;

}

.signupbtn{
    padding: 14px 20px;
    background-color: rgb(17, 184, 17);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.sign{
    margin-left: 43%;
    font-size: 300%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}


.border-0 {
    border: 0!important;
}
.card {
    margin-top: -5%;
    margin-left: 27%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 0.25rem;
    width: 49%;
    justify-content: center;
}

section {
    padding: 120px 0;
    overflow: hidden;
}

.text-secondary {
    color: #15395A !important;
}
.font-weight-600 {
    font-weight: 600;
}
.display-26 {
    font-size: 1.3rem;
}

@media screen and (min-width: 992px){
    .p-lg-7 {
        padding: 4rem;
    }
}
@media screen and (min-width: 768px){
    .p-md-6 {
        padding: 3.5rem;
    }
}
@media screen and (min-width: 576px){
    .p-sm-2-3 {
        padding: 2.3rem;
    }
}
.p-1-9 {
    padding: 1.9rem;
}

@media screen and (min-width: 576px){
    .px-sm-6 {
        padding-right: 3.5rem;
    }
}
@media screen and (min-width: 576px){
    .ps-sm-6, .px-sm-6 {
        padding-left: 3.5rem;
    }
}
.pe-1-9, .px-1-9 {
    padding-right: 1.9rem;
}
.ps-1-9, .px-1-9 {
    padding-left: 1.9rem;
}
.pb-1-9, .py-1-9 {
    padding-bottom: 1.9rem;
}
.pt-1-9, .py-1-9 {
    padding-top: 1.9rem;
}
.mb-1-9, .my-1-9 {
    margin-bottom: 1.9rem;
}
/* @media (min-width: 992px){
    .d-lg-inline-block {
        display: inline-block!important;
    }
} */
.rounded {
    border-radius: 0.25rem!important;
}

.newpost{
    margin-top: 20%;
    margin-left: 40%;
    font-size: 200%;
}

.profpic{
    width: 70%;
    margin-left:auto;
}

.list-unstyled{
    width: 100%;
    margin-left: 60%;
    margin-top: -40%;
}
